{% if request.in_contest and request.participation.contest.logo_override_image %}
    <img src="{{ request.participation.contest.logo_override_image|camo }}" alt="{{ SITE_NAME }}" height="44" style="border: none">
{% elif logo_override_image is defined and logo_override_image %}
    <img src="{{ logo_override_image|camo }}" alt="{{ SITE_NAME }}" height="44" style="border: none">
{% else %}
    <span class="pnloj-brand">
        <img class="pnloj-brand-logo" src="{{ static('icons/logo.png') }}" alt="" width="40" height="40">
        <span class="pnloj-brand-name">Phạm Ngũ Lão OJ</span>
    </span>
{% endif %}
